
.CSSTable1 {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	/*border:1px solid #032c02;*/
	display: block;
     margin: 1px;
    padding: 1px;
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
	
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
	
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
	
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}.CSSTable1 table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	/*height:100%;*/
	margin:0px;padding:0px;
}.CSSTable1 tr:last-child td:last-child {
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
}
.CSSTable1 table tr:first-child td:first-child,.CSSTable1 table tr:first-child th:first-child {
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}
.CSSTable1 table tr:first-child td:last-child,.CSSTable1 table tr:first-child th:last-child {
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
}.CSSTable1 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
}.CSSTable1 tr:hover td{
	
}
.CSSTable1 tr:nth-child(odd){ background-color:#dbf7db; } /* linea intercalada*/
.CSSTable1 tr:nth-child(even)    { background-color:#ffffff; }.CSSTable1 td{ 
	vertical-align:middle;
	
	
	border:1px solid #032c02;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:6px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTable1 tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTable1 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTable1 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
/*.CSSTable1 tr:first-child td,*/
.CSSTable1 tr:first-child th{
		background:-o-linear-gradient(bottom, #032c02 5%, #032c02 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #032c02), color-stop(1, #032c02) );
	background:-moz-linear-gradient( center top, #032c02 5%, #032c02 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#032c02", endColorstr="#032c02");	background: -o-linear-gradient(top,#032c02,032c02);

	background-color:#032c02;
	border:0px solid #032c02;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
/*.CSSTable1 tr:first-child td,*/
.CSSTable1 tr:first-child:hover th{
	background:-o-linear-gradient(bottom, #032c02 5%, #032c02 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #032c02), color-stop(1, #032c02) );
	background:-moz-linear-gradient( center top, #032c02 5%, #032c02 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#032c02", endColorstr="#032c02");	background: -o-linear-gradient(top,#032c02,032c02);

	background-color:#032c02;
}
.CSSTable1 tr:first-child td:first-child,.CSSTable1 tr:first-child th:first-child{
/*border-width:0px 0px 1px 0px;*/
}
.CSSTable1 tr:first-child td:last-child,.CSSTable1 tr:first-child th:last-child{
	border-width:0px 0px 1px 1px;
}
.CSSTable1 .t{
    width: 10%;
    border-right: none;
}
.CSSTable1 .d{
        width: 20%;
          border-left: none;
}


.CSSTextArea{
BORDER-RIGHT: #022402 1px solid; BORDER-TOP: #022402 1px solid; FONT-SIZE: 9px; VERTICAL-ALIGN: text-bottom; BORDER-LEFT: #022402 1px solid; WIDTH: 450px; BORDER-BOTTOM: #022402 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; text-transform: uppercase;
height: 45px; ;}
 
 .CSSTextArea2{
BORDER-RIGHT: #022402 1px solid; BORDER-TOP: #022402 1px solid; FONT-SIZE: 9px; VERTICAL-ALIGN: text-bottom; BORDER-LEFT: #022402 1px solid; WIDTH: 1000px; BORDER-BOTTOM: #022402 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; text-transform: uppercase;
height: 100px; ;}
