.table_eval_gral_label{
	/*font-size: 15px;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	max-height: 201px;*/
}
.inputAgricolaPonderacion{
	width: 70px;
}
.inputAgricolaFojas{
	width: 70px;
}
.inputAgricolaProduccion{
	width: 70px;
}
.labelAgricolaEvaluacionGeneral{
	/*max-width: 200px;*/
}
.labelAgricolaEvaluacionEspefica{
	/*writing-mode: vertical-rl;
	transform: rotate(180deg);
*/}
.modal-body{
	height: 170px;
}
.img_gif_please_wait{
	width: 50px;
}
.textarea_e_informe_eval_observaciones{
	width: 100%;
    height: 150px;
}
.btn_habilitado_anho_monitoreo{
	background-color: #75af73;
	color:#FFF;
}
.btn_focus_anho_monitoreo{
	background-color: #032c02;
	color:#FFF;
}
.form_horizontal_eval{
	display: flex;
}
.textarea_e_informe_eval{
	width: 100%;
    height: 100px;
}
